mixin btnSettings()
  button.btn.btn__settings(color="primary")&attributes(attributes)
    svg(viewBox="0 0 200 200")
      circle.circle_top(cx="65", cy="135", r="20")
      circle.circle_bot(cx="135", cy="65", r="20")
      line(x1="30", y1="65", x2="170", y2="65")
      line(x1="30", y1="135", x2="170", y2="135")
        
mixin btnRocket()
  button.btn.btn__rocket(color="primary")&attributes(attributes)
    svg(viewBox="0 0 200 200")
      path(d="M127.6,104.5L127.6,104.5L127.6,104.5c2.2-27.6-7.4-63.4-27.6-83.5c-20.1,20.1-29.7,55.9-27.5,83.5h-0.1v0C61.1,115.2,58,132,64.9,146l4.7,9.7c2-8.3,7.2-15.2,14.3-19.5c4.2,4.3,9.6,6.9,16.1,6.9c6.5,0,11.9-2.5,16.1-6.9c7.1,4.3,12.3,11.2,14.3,19.5l4.7-9.7C142,132,138.9,115.2,127.6,104.5z M100,86.4c-6.4,0-11.5-5.2-11.5-11.5c0-6.4,5.2-11.5,11.5-11.5s11.5,5.2,11.5,11.5C111.6,81.2,106.4,86.4,100,86.4z")
      path.fire(d="M100,170.2c-6.1-4.1-12.4-7.9-9.6-24.3C73.1,162.3,96,176.2,100,179c4-2.8,26.9-16.7,9.6-33.1C112.4,162.4,106.1,166.1,100,170.2z")
        
mixin iconFollows()
  svg(viewBox="0 0 200 200")&attributes(attributes)
    path(d="M62.9,176.8L62.9,176.8c24.7-2,49.5-2,74.2,0h0c5.7,0.5,11.3-1.2,15.8-4.7l0,0c9.3-7.2,11.6-20.3,5.3-30.3c-5.7-9.1-14.5-17.6-26.7-16.1c-3.8,0.5-10.8,2.3-17.3,4c-9.3,2.6-19.2,2.6-28.5,0c-6.5-1.8-13.5-3.6-17.3-4c-12.2-1.5-21,7-26.7,16c-6.3,10-4,23.1,5.3,30.3l0.1,0C51.6,175.6,57.2,177.3,62.9,176.8z")
    path(d="M100,24.7c-27.8,0-50.4,22.6-50.4,50.4s22.6,50.4,50.4,50.4s50.4-22.6,50.4-50.4S127.8,24.7,100,24.7z M135,80.1h-30v30H95v-30H65v-10h30v-30h10v30h30V80.1z")

mixin iconUnfollows()
  svg(viewBox="0 0 200 200")&attributes(attributes)
    path(d="M62.9,176.8L62.9,176.8c24.7-2,49.5-2,74.2,0l0,0c5.7,0.5,11.3-1.2,15.8-4.7l0,0c9.3-7.2,11.6-20.3,5.3-30.3c-5.7-9.1-14.5-17.6-26.7-16.1c-3.8,0.5-10.8,2.3-17.3,4c-9.3,2.6-19.2,2.6-28.5,0c-6.5-1.8-13.5-3.6-17.3-4c-12.2-1.5-21,7-26.7,16c-6.3,10-4,23.1,5.3,30.3h0.1C51.6,175.6,57.2,177.3,62.9,176.8z")
    path(d="M100,24.7c-27.8,0-50.4,22.6-50.4,50.4s22.6,50.4,50.4,50.4s50.4-22.6,50.4-50.4S127.8,24.7,100,24.7z M135,80.1H65v-10h70V80.1z")

mixin iconLikes()
  svg(viewBox="0 0 200 200")&attributes(attributes)
    path(d="M99.9,54.6C139-8,250,84,99.9,166.1C-50.3,84,61-8,99.9,54.6z")
    //- path(d="M100,48.2c44.6-71.3,171,33.5,0,127.1C-71.2,81.7,55.7-23.1,100,48.2z")

mixin checkbox(id, name, label)
  .btn.btn_checkbox
    input(type="checkbox", name= name, id= id)
    label(for="id")= label
    
mixin close()
  button.btn.btn__close(color="primary")&attributes(attributes)
    svg(viewBox="0 0 180 180")
      line(x1="40", y1="40", x2="140", y2="140")
      line(x1="140", y1="40", x2="40", y2="140")
